body {
	margin: 0;
	padding: 0;

	background-image: url(foncherepahi.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.container {
	width: 100%;
	max-width: 1000px;
	margin: auto;

	background-color: #111;
}

.scale {
	transition: 1s; 
 }
 .scale:hover {
	transform: scale(1.1);
 }

 .navbar {
	margin-left: 320px;
	padding: 0;
	list-style-type: none;
	border: 2px solid green;
	border-radius: 20px 5px;
	width: 550px;
	text-align: center;
	background-color: rgb(3, 159, 3);
}
.navbar>ul li { display: inline; }
.navbar>ul a {
	color: #fff;
	padding: 5px 10px;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	width: 100px;
}
.navbar>ul a:hover {
	border-radius: 20px 5px;
	background-color: green;
}